<div class="container">
    <mat-card class="card">
        <!-- <button mat-button (click)="goBack()">
            <i class="material-icons md-40">
                arrow_back
            </i>
        </button> -->
        <mat-horizontal-stepper class="stepper-box" linear="true" #stepper
            (selectionChange)="nextStep($event.selectedIndex)">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="full-height mod">
                    <ng-template matStepLabel>Ingrese el id del estudiante</ng-template>
                    <mat-form-field class="full-width py-3">
                        <input matInput placeholder="Identificador" formControlName="id" required
                            (keyup.enter)="nextStep(1)">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious (click)="goBack()" class="med-width">Volver al
                            inicio</button>
                        <button mat-button matStepperNext class="med-width">Siguiente</button>
                    </div>
                </form>
            </mat-step>


            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Seleccione las materias a inscribir en el nuevo trimestre
                </ng-template>
                <mat-vertical-stepper [hidden]="loading">
                    <mat-step label="Trimestre 1">
                        <drag-and-drop [id]="studentId" (targetSubjects)="saveSelection($event, 1)" [loading]="loading"
                            [reset]="resetList" (loaded)=loaded($event)></drag-and-drop>
                        <div>
                            <button mat-button matStepperPrevious class="med-width">Atrás</button>
                            <button mat-button matStepperNext class="med-width">Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step label="Trimestre 2">
                        <drag-and-drop [id]="studentId" (targetSubjects)="saveSelection($event, 2)" [loading]="loading"
                            [reset]="resetList" (loaded)=loaded($event)></drag-and-drop>
                        <!-- <div>
                            <button mat-button matStepperPrevious class="med-width">Atrás</button>
                            <button mat-button matStepperNext class="med-width">Siguiente</button>
                        </div> -->
                    </mat-step>
                </mat-vertical-stepper>
                <ng-container *ngIf="loading">
                    <div class="card-spinner full-height">
                        <mat-progress-spinner color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                </ng-container>
                <div>
                    <button mat-button matStepperPrevious class="med-width">Atrás</button>
                    <button mat-button matStepperNext class="med-width">Siguiente</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    Resultado
                </ng-template>
                <div class="result-grid py-2 full-height" *ngIf="!loadingPred">
                    <!-- <img class="icon" [src]="success ? '../../../assets/happy.png' : '../../../assets/sad.png'" /> -->
                    <!-- <i class="material-icons md-90" [ngClass]="success ? 'md-success' : 'md-danger'">
                        {{ success ? 'check_circle_outline' : 'error_outline'}}
                    </i>
                    <p *ngIf="predictionM5">Probabilidad Obtenida:
                        {{ predictionM5[0].prediction * 100 | number: '.2-2'}}</p>
                    <p> {{ success ? 'El estudiante aprobará todas las materias ingresadas' : 'El estudiante no aprobará todas las materias ingresadas'}}
                    </p> -->
                    <h3> Puntajes obtenidos </h3>
                    <mat-card class="card-combination" *ngFor="let combination of predictionResult">
                        <mat-grid-list cols="2" rowHeight="150px">
                            <mat-grid-tile colspan="1" rowspan="1">

                                <mat-list>
                                    <mat-list-item class="simple" *ngFor="let subject of combination.subjects">
                                        <p matLine>
                                            <span> {{ subject.name }} </span>
                                        </p>
                                    </mat-list-item>
                                </mat-list>

                            </mat-grid-tile>
                            <mat-grid-tile colspan="1" rowspan="1">
                                <h4 matLine> Probabilidad: {{ combination.prediction * 100 | number: '.2-2'}} </h4>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>
                <div class="card-spinner" *ngIf="loadingPred">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <div>
                    <button mat-button matStepperPrevious class="med-width">Atrás</button>
                    <button mat-button (click)="reset(); stepper.reset()" class="med-width">Resetear</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <!-- <mat-card>
            <mat-card-content *ngIf="loading">
                <mat-progress-spinner color="blue" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card-content>
        </mat-card> -->
    </mat-card>
</div>